#titolo{
    text-align: center;
    font-weight: bolder;
}
#descrizione{
    text-align: center;
}

.card-title{
    text-align: center;
    font-weight: bolder;
}

.card-text{
    text-align: center;
}

body{
    background-color: rgba(223, 219, 219, 0.767);
}
/*
.membri{
    display: flex;
    flex-wrap: wrap;
   width: 80%;
    margin: auto;
}
*/